<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="person" class="com.home.pojos.Person">
        <property name="name" value="Vasya"/>
        <property name="address" ref="address"/>
    </bean>
    <bean id="address" class="com.home.pojos.Address">
        <constructor-arg value="Pushkina"/>
    </bean>
    <bean id="notifier" class="com.home.pojos.Notifier"/>

    <aop:config proxy-target-class="true">
        <aop:aspect id="note" ref="notifier">
            <aop:pointcut id="advice" expression="execution(* *.getAddress(..))"/>
            <aop:before pointcut-ref="advice" method="notifyBefore"/>
            <aop:after pointcut-ref="advice" method="notifyAfter"/>
            <!--<aop:around pointcut-ref="advice" method="notifyAround"/>-->
            <aop:after-returning pointcut-ref="advice" method="notifyAfterReturning"/>
            <aop:after-throwing pointcut-ref="advice" method="notifyAfterThrowing" throwing="e"/>
        </aop:aspect>
    </aop:config>
</beans>